*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: green;
}
nav{
    width: 80%;
    position: fixed;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
.logo{
    margin: auto;
    width: 60%;
    padding: 10px;
    right: 10px;
}
